Repository niro1987/python-sapcommissions, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, endpoints, resources, tests

.github/labeler.yml:

ci/cd:
  - "*"
  - ".github/**"
  - ".vscode/**"

documentation:
  - "README.md"
  - "./*.md"
  - "docs/**"

endpoints:
  - "**/*endpoints**"

resources:
  - "**/*resources**"

tests:
  - "tests/**"

add .exe
  .pre-commit-config.yaml
Labels: ci/cd

pylint again..
  .pre-commit-config.yaml
Labels: ci/cd

add _PipelineRuns endpoint and classify method
  sapcommissions/endpoints.py
Labels: endpoints

pylint is being difficult
  .pre-commit-config.yaml
Labels: ci/cd

convert pylint to local repo
  .pre-commit-config.yaml
Labels: ci/cd

update repr for Pipeline
  sapcommissions/resources.py
Labels: resources

update classify, add proccessingUnitSeq
  sapcommissions/endpoints.py
Labels: endpoints

lower minimal python version to 3.10
  pyproject.toml
Labels: ci/cd

add helper function to run PipelineRun comamnds
  sapcommissions/endpoints.py
Labels: endpoints

update classify to work with helper function
  sapcommissions/endpoints.py
Labels: endpoints

Add new PipelineRun commands
  sapcommissions/endpoints.py
Labels: endpoints

add ignore build/
  .gitignore
Labels: ci/cd

lower python version
  .pre-commit-config.yaml
Labels: ci/cd

add PipelineRun cleanup_deferred_results
  sapcommissions/endpoints.py
Labels: endpoints

add RunPipeline generate_reports
  sapcommissions/__init__.py
  sapcommissions/endpoints.py
Labels: endpoints

Add Import pipelines and supporting Enums
  sapcommissions/__init__.py
  sapcommissions/endpoints.py
Labels: endpoints

add helper function
  sapcommissions/endpoints.py
Labels: endpoints

add purge and xml_import
  sapcommissions/endpoints.py
Labels: endpoints

add purge and approve calculated data
  sapcommissions/endpoints.py
Labels: endpoints

add summarize
  sapcommissions/endpoints.py
Labels: endpoints

update docstring
  sapcommissions/endpoints.py
Labels: endpoints

add runStats parameter
  sapcommissions/endpoints.py
Labels: endpoints

add compensate
  sapcommissions/endpoints.py
Labels: endpoints

add removeStaleResults
  sapcommissions/endpoints.py
Labels: endpoints

rename RunMode to ImportRunMode
  sapcommissions/__init__.py
  sapcommissions/endpoints.py
Labels: endpoints

reorderd parameter
  sapcommissions/endpoints.py
Labels: endpoints

add runmode for positions
  sapcommissions/__init__.py
  sapcommissions/endpoints.py
Labels: endpoints

add update_analytics
  sapcommissions/endpoints.py
Labels: endpoints

moving things around
  sapcommissions/endpoints.py
Labels: endpoints

Update docs and docstrings
  docs/ENDPOINTS.md
  docs/METHODS.md
  docs/README.md
  sapcommissions/endpoints.py
Labels: documentation, endpoints

add periodType to repr on Period
  sapcommissions/resources.py
Labels: resources

Updated endpoints.py
  sapcommissions/endpoints.py
Labels: endpoints

Updated examples
  docs/ENDPOINTS.md
Labels: documentation

add legal disclaimer
  docs/README.md
Labels: documentation

some corrections
  docs/METHODS.md
  docs/README.md
Labels: documentation

Update README.md
  docs/README.md
Labels: documentation

Update docs
  docs/METHODS.md
  docs/README.md
Labels: documentation

update README.md
  docs/README.md
Labels: documentation

Run Pipelines and many more
  .gitignore
  .pre-commit-config.yaml
  docs/ENDPOINTS.md
  docs/METHODS.md
  docs/README.md
  pyproject.toml
  sapcommissions/__init__.py
  sapcommissions/endpoints.py
  sapcommissions/resources.py
Labels: ci/cd, documentation, endpoints, resources

Issue: `get` requires int but seq is str Fixes #10
  docs/METHODS.md
  sapcommissions/endpoints.py
Labels: documentation, endpoints
