Repository niro1987/python-sapcommissions, changes with the labels that .github/labeler.yml gives for each.
All labels: ci/cd, documentation, endpoints, resources, tests

.github/labeler.yml:

ci/cd:
  - "*"
  - ".github/**"
  - ".vscode/**"

documentation:
  - "README.md"
  - "./*.md"
  - "docs/**"

endpoints:
  - "**/*endpoints**"

resources:
  - "**/*resources**"

tests:
  - "tests/**"

Fixes #11
  sapcommissions/endpoints.py
Labels: endpoints

Fix #10
  docs/METHODS.md
  sapcommissions/endpoints.py
Labels: documentation, endpoints

Fix #10
  docs/METHODS.md
  sapcommissions/endpoints.py
Labels: documentation, endpoints

Fixes #11 (#13)
  sapcommissions/endpoints.py
Labels: endpoints

first attempt
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Labels: none

dynamic requirements
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Labels: ci/cd

seconds attempt
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitattributes
Labels: ci/cd

add zsh
  .devcontainer/.zshrc
  .devcontainer/Dockerfile
Labels: none

add ms-vscode-remote.remote-containers
  .devcontainer/devcontainer.json
Labels: none

Removed environment attribute
  docs/README.md
  sapcommissions/__init__.py
Labels: documentation

Removed environment attribute (#16)
  docs/README.md
  sapcommissions/__init__.py
Labels: documentation

Add Issue Form
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: ci/cd

Rename form and label
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: ci/cd

moved file
  .github/issue_template.yml
Labels: ci/cd

move file
  .github/ISSUE_TEMPLATE/issue_template.yml
Labels: ci/cd

add issue config
  .github/ISSUE_TEMPLATE/config.yml
Labels: ci/cd

Update ENDPOINTS.md
  docs/ENDPOINTS.md
Labels: documentation

Allow expand meta to be set to False
  sapcommissions/resources.py
Labels: resources

Not expand PU on SalesTransaction
  sapcommissions/resources.py
Labels: resources

rename Pipeline > PipelineRun
  sapcommissions/endpoints.py
  sapcommissions/resources.py
Labels: endpoints, resources

add expand parameter
  sapcommissions/endpoints.py
Labels: endpoints

move function up
  main.json
  sapcommissions/endpoints.py
Labels: ci/cd, endpoints
